.tnr {
	font-family: 'Times New Roman', Times, serif;
}

.text-justify {
	text-align: justify
}

.container .jumbotron.sekretariat { 
	padding: 10px;
}

.infomasi {
	margin: 20px;
	padding: 20px;
}

.border {
	border-style: ridge;
}

.text-center {
	text-align: center;
}