p.text-logo-gpib {
	text-align: justify; 
	font-style: italic; 
	font-family: 'Times New Roman', Times, serif; 
	font-weight: bold; 
	font-size: 20px;
}

@media screen and (min-width: 768px) {
	p.text-logo-gpib {
		font-size: 30px;
	}
}